<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>List of movies</h1>
  </div>
</div>

<% @lists.each do |list| %>
  <p><%= link_to list.name, list_path(list) %></p>
  <%# <%= raise %>
  <%= cl_image_tag list.photo.key, height: 200, width: 300, crop: :fill %>
<% end %>

<%= link_to 'New list', new_list_path, class: "btn btn-primary" %>
